// Brand colors from report.css
$lm-brand-color:           #6c757d;
$lm-brand-color-dark:      #343a40;
$lm-heading-color:         #142d37;
$lm-text-color:            #212529;
$lm-background-color:      #fff;
$lm-code-background-color: #f8f9fa;
$lm-link-base-color:       #0d6efd;
$lm-link-visited-color:    darken(#0d6efd, 15%);
$lm-link-hover-color:      darken(#0d6efd, 10%);
$lm-border-color-01:       #dee2e6;
$lm-table-header-bg-color: #f8f9fa;
$lm-table-header-border:   #dee2e6;
$lm-table-border-color:    #eee;

$easyaudit-dark: #142d37;
